@page
@model EditModel

@{
    ViewData["Title"] = "Modifica Prodotto";
}

<h2>@ViewData["Title"]</h2>

<div>
    <form method="post">
        <div class="form-group">
            <label for="Id">Id</label>
            <input type="text" class="form-control" name="id" value="@Model.Prodotto.Id" /></label>
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" value="@Model.Prodotto.Nome" /></label>
        </div>
        <div class="form-group">
            <label for="prezzo">Prezzo</label>
            <input type="text" class="form-control" name="prezzo" value="@Model.Prodotto.Prezzo" /></label>
        </div>
        <div class="form-group">
            <label for="dettaglio">Categoria</label>
            <input type="text" class="form-control" name="categoria" value="@Model.Prodotto.CategoriaId" /></label>
        </div>
        <button type="submit" class="btn btn-success my-3">Salva</button>
    </form>
</div>