@page
@model ProdottiModel
@{
    ViewData["Title"] = "Prodotti";
}
<h2>@ViewData["Title"]</h2>

<div>
    <div class="row">
        @foreach (var p in Model.Prodotti)
        {
            <div class="col-md-4 d-flex my-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-dark">@p.Nome</h5>
                        <p class="card-text text-success">@p.Prezzo</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                <a asp-page="Details" asp-route-id="@p.Id"><div class="btn btn-success"><strong>Dettagli</strong></div></a>
                                <a asp-page="Edit" asp-route-id="@p.Id"><div class="btn btn-success"><strong>Modifica</strong></div></a>
                                <a asp-page="Delete" asp-route-id="@p.Id"><div class="btn btn-success"><strong>Elimina</strong></div></a>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>